div.yootil-notification {

    display: block !important;

}

div.yootil-notification-content p {

    line-height: 20px;

}

div.yootil-notifications-item {

    position: fixed;
    top: 10px;
    right: 20px;
    border: 1px solid #000;
    padding: 10px;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 10000;

}

div.yootil-notifications-item .yootil-notifications-wrapper {

    display: table;

}

div.yootil-notifications-item .yootil-notifications-image {

    float: left;
    margin-right: 5px;

}

div.yootil-notifications-item .yootil-notifications-image img {

    vertical-align: middle;

}

div.yootil-notifications-item .yootil-notifications-message {

    font-size: 90%;
    display: table-cell;
    vertical-align: middle;

}

div#yootil-bar-wrapper {

    position: fixed;
    text-align: right;
    z-index: 20;

}

div#yootil-bar-wrapper.yootil-bar-top-left {

    top: 0px;
    left: 0px;

}

div#yootil-bar-wrapper.yootil-bar-top-right {

    top: 0px;
    right: 0px;

}

div#yootil-bar-wrapper.yootil-bar-bottom-left {

    bottom: 0px;
    left: 0px;

}

div#yootil-bar-wrapper.yootil-bar-bottom-right {

    bottom: 0px;
    right: 0px;

}

div#yootil-bar-wrapper.yootil-bar-bottom-center {

	bottom: 0px;

}

div#yootil-bar-wrapper.yootil-bar-top-center {

	top: 0px;

}

div#yootil-bar-wrapper.yootil-bar-left-middle {

	left: 0px;

}

div#yootil-bar-wrapper.yootil-bar-right-middle {

	right: 0px;

}

div#yootil-bar-wrapper #yootil-bar {

	background-color: #F0F0F0;
	border-style: solid;
	border-color: #B0B0B0;

}

div#yootil-bar-wrapper.yootil-bar-top-left #yootil-bar {


	border-width: 0px 1px 1px 0px;

}

div#yootil-bar-wrapper.yootil-bar-top-right #yootil-bar {


	border-width: 0px 0px 1px 1px;

}

div#yootil-bar-wrapper.yootil-bar-bottom-left #yootil-bar {


	border-width: 1px 1px 0px 0px;

}

div#yootil-bar-wrapper.yootil-bar-bottom-right #yootil-bar {


	border-width: 1px 0px 0px 1px;

}

div#yootil-bar-wrapper.yootil-bar-bottom-center #yootil-bar {


	border-width: 1px 1px 0px 1px;

}

div#yootil-bar-wrapper.yootil-bar-top-center #yootil-bar {


	border-width: 0px 1px 1px 1px;

}

div#yootil-bar-wrapper.yootil-bar-left-middle #yootil-bar {


	border-width: 1px 1px 1px 0px;

}

div#yootil-bar-wrapper.yootil-bar-right-middle #yootil-bar {


	border-width: 1px 0px 1px 1px;

}

div#yootil-bar-wrapper.yootil-bar-bottom-right.yootil-bar-offset {

	bottom: 30px;

}

div#yootil-bar-wrapper.yootil-bar-bottom-right.yootil-bar-offset #yootil-bar {

	border-width: 1px 0px 1px 1px;

}

div#yootil-bar-wrapper #yootil-bar a {

	margin-top: 3px;
	display: inline-block;

}

div#yootil-bar-wrapper #yootil-bar a img {

	padding: 0px 3px;

}

div#yootil-bar-wrapper #yootil-bar a.yootil-bar-item-block  {

	display: block;

}